*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
}
.container
{
	width: 100%;
    height: 100%;
	overflow: hidden;
    background: url("main-bg.png");
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    scrollbar-width: 1px;
}

ul li:nth-last-child(1){
    z-index: -10;
    position: fixed;
    top: 0%;
    left: -10%; 
    transform-origin: -50% -50%;
}
/* .container{
    width: 100%;
	height: 100vh;
	overflow: hidden;
    background: url("backg.jpeg");
    background-attachment: fixed;
    background-size: cover;
} */
/* body{
    width:100vw;
    height: 100vh;
} */
/* .background{
    background: #fff;
    height: 100%;
    width: 100%;
}
.background .skill-bg{
    height: 100%;
    width: 100%;
    background: url("skill-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background .logo img{
    height: 12vh;
    width: auto;
    position: absolute;
    z-index: 10;
    top: 16%;
    left: 46.5%;
    z-index: 1;
    transform-origin: 50% 50%;
}
.background .skill-bg .skill{
    font-family: 'Source Code Pro', monospace;
    color: #01a1a1;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 5px 10px 2px  rgba(1, 161, 161, 0.5);
}
.background .skill:nth-child(1){
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 10%;
}
.background .skill:nth-child(2){
    position: absolute;
    z-index: 10;
    top: 67%;
    left: 75%;
}
.background .skill:nth-child(3){
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 73%;
}
.background .skill:nth-child(4){
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 23%;
}
.background .skill:nth-child(5){
    position: absolute;
    z-index: 10;
    top: 47%;
    left: 60%;
}
.background .skill:nth-child(6){
    position: absolute;
    z-index: 10;
    top: 39%;
    left: 39%;
}
.background .skill:nth-child(7){
    position: absolute;
    z-index: 10;
    top: 55%;
    left: 85%;
}
.background .skill:nth-child(8){
    position: absolute;
    z-index: 10;
    top: 59%;
    left: 14%;
}
.background .skill:nth-child(9){
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 38%;
}
.background .skill:nth-child(10){
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 43%;    
}
.background .skill:nth-child(11){
    position: absolute;
    z-index: 10;
    top: 83%;
    left: 13%;
}
.background .skill:nth-child(12){
    position: absolute;
    z-index: 10;
    top: 87%;
    left: 57%;
}
.background .skill:nth-child(13){
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 85%;
} */

/* img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0; 
} */